<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.study.chifan.core.dao.ShopDao">

    <resultMap id="resultMap" type="org.study.chifan.core.entity.Shop">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
    </resultMap>

    <select id="getDetails" parameterType="int" resultMap="resultMap">
		SELECT id,name ,phone,address		FROM  FOOD_SHOP
		WHERE id=#{id}
		  and deleted=0
	</select>

    <select id="listAll" resultMap="resultMap">
        SELECT id,name ,phone,address		FROM  FOOD_SHOP
        WHERE deleted=0
    </select>


    <insert id="add" parameterType="org.study.chifan.core.entity.Shop" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO FOOD_SHOP (name, phone,address)
				VALUES
				(#{name},#{phone,jdbcType=VARCHAR},#{address})
	</insert>


    <select id="findCountByName" parameterType="org.study.chifan.core.entity.Shop" resultType="_int">
		SELECT COUNT(1) FROM FOOD_SHOP
		WHERE name=#{name}
		  and deleted=0;
	</select>

    <select id="findCountByIdAndName" parameterType="org.study.chifan.core.entity.Shop" resultType="_int">
		SELECT COUNT(1) FROM FOOD_SHOP
		WHERE name=#{name}
		  and id = #{id}
		  and deleted=0;
	</select>


    <select id="get" parameterType="int" resultMap="resultMap">
		SELECT id,name ,phone,address			FROM  FOOD_SHOP
		WHERE id=#{id}
		  and deleted=0;
	</select>

    <update id="update" parameterType="org.study.chifan.core.entity.Shop">
		UPDATE FOOD_SHOP
       SET name=#{name},
           phone=#{phone},
           address=#{address}
		 WHERE id=#{id}
	</update>

    <update id="softDelete" parameterType="Map">
        UPDATE FOOD_SHOP
        SET deleted=1
        WHERE id in
        <foreach item="id" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


</mapper>
