@charset "utf-8";
/* CSS Document */
body {padding:0;margin:0;text-align:left;color:#444;font-size:12px;font-family: Arial, sans-serif; line-height:160%; text-decoration:none; background:#fff;}
h1, h2, h3, h4, h5, h6, form, div, p, i, img, ul, li, ol, table, tr, td,th, fieldset, label, legend,button,input,dl,dt,dd,hr{ margin:0;padding:0;border:none;background:none;}
li{list-style:none;}
a img{border:none;}
a:link{text-decoration:none;color:#444; outline:none;}
a:visited{text-decoration:none;color:#444;}
a:active,a:hover{text-decoration:none;color:#5bb300;}
.red{color:#f00;}
.red a{color:#f00;}
.blue{color:#0b64c2;}
.blue a{color:#0b64c2;}
.green{color:#428200}
.green a{color:#5bb300}
.green a:hover{color:#488e00}
.font11{font-size:11px; line-height:18px;}
 /*clear*/
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.clear:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.overflow{overflow:hidden;zoom:1;}
.hand{cursor:pointer; font-weight:bold}
.nofound{padding:7px; text-align:center;}
/*width*/
.w1100{width:1100px; margin:0px auto;}
.w390{width:390px;}
/*position*/
.prel{position:relative;}
.pabs{position:absolute;}
.pfix{position:fixed;}
/*padding margin*/
.mt10{margin-top:10px;}
.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.ml15{margin-left:15px;}
.ml5{margin-left:5px;}
.mt5{margin-top:5px;}
.mt20{margin-top:20px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pr5{padding-right:5px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.pl5{padding-left:5px;}
li.p7,.p7{padding:7px;}
li.p4,.p4{padding:4px;}
li.p5,.p5{padding:5px;}
.m10{margin:10px;}
.p10{padding:10px;}
.ptl10{padding:10px 0 0 10px;}
.pl10{padding:0 0 0 10px;}
.m15{margin:15px;}
.mt5{margin-top:5px;}
.p15{padding:15px;}
.ptl20{padding:20px 0 0 20px;}
.pt20b{padding:20px 0 5px 0;}
.pr15{padding-right:25px;}
.h30{height:36px; line-height:30px;}
/*font*/
.f10{font-size:10px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.fbold{font-weight:bold}
.fnormal{font-weight:normal}
.textleft{text-align:left;}
.textright{text-align:right;}

/*border line box*/
.line_gray{background:url(../images/line.png) repeat-x; height:2px; font-size:0px;}
.bor1{border-top:1px solid #c5c6c6;}
.bor2{border-bottom:1px solid #e3e3e3;}
.box2{border-right:1px solid #cdd0cf; border-bottom:1px solid #e1e1e1; padding:10px 0 0 10px; height:45px;-webkit-box-shadow:1px 1px 3px #ddd;-moz-box-shadow:1px 1px 3px #ddd; box-shadow:1px 1px 3px #ddd; }
.bor3{border:1px solid #efefef; padding:7px;}
.bor4{border-bottom:1px solid #fff;}
.bor-r5{border-radius:6px;}
.bg1{background:#f1f1f1;}
.bg2{background:#f3f3f3;}
.bgw{background:#fff;}
.x_bold_line{height:4px; box-shadow:0 1px 6px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(46, 60, 118, 0.1) inset;background-color: #555;background-image:linear-gradient(to bottom, #555, #888); background-repeat: repeat-x;}
/*input*/
textarea,input[type="text"],input[type="password"],input[type="tel"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="email"],input[type="search"],input[type="url"],
input[type="color"]{background-color: #FFFFFF; border: 1px solid #CCCCCC; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; border-radius:3px; padding:0 3px;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, 
input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, 
input[type="color"]:focus, .uneditable-input:focus{ border-color:rgba(94, 185 ,0, 0.8); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 1px 6px rgba(94, 185, 0, 0.6);}
.btn{background-image:-moz-linear-gradient(to bottom, #fff, #e8e8e8);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e8e8e8)); background-color:#f4f4f4;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);border-radius:4px;display:inline-block; border:1px solid #ddd; 
text-shadow:0px 1px rgba(255, 255, 255, 0.2); font-size:13px; line-height:18px; padding:4px 14px; vertical-align:middle; cursor:pointer; outline:none;}
.btn:hover{background:#f2f2f2;}
.btn:active{background:#f2f2f2;box-shadow:0 2px 4px rgba(0, 0, 0, 0.15)inset, 0px 1px 2px rgba(0, 0, 0, 0.05);}
.gray_btn{background-image:-moz-linear-gradient(to bottom, #eee, #bbb);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#bbb)); background-color:#eee;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);border-radius:4px;display:inline-block; border:1px solid #bbb; 
text-shadow:0px 1px rgba(255, 255, 255, 0.2); font-size:13px; line-height:18px; padding:4px 14px; vertical-align:middle; cursor:pointer; outline:none;}
.gray_btn:hover{background:#eee;}
.gray_btn:active{background:#eee;box-shadow:0 2px 4px rgba(0, 0, 0, 0.15)inset, 0px 1px 2px rgba(0, 0, 0, 0.05);}
.green_btn{background-image:-moz-linear-gradient(to bottom, #56aa00, #417f00);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#56aa00), to(#417f00)); background-color:#56aa00;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);border-radius:4px;display:inline-block; border:1px solid #417f00; text-shadow:0px 1px rgba(68, 133, 0, 0.02); 
font-size:14px; line-height:18px; color:#fff; padding:4px 14px; vertical-align:middle; cursor:pointer; outline:none;}
.green_btn:hover{background:#56aa00;}
.green_btn:active{background:#56aa00;box-shadow:0 2px 4px rgba(255, 255, 255, 0.15)inset, 0px 1px 2px rgba(0, 0, 0, 0.05);}
.red_btn{background-image:-moz-linear-gradient(to bottom, #e22e00, #9f2000);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#e22e00), to(#9f2000)); background-color:#e22e00;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);border-radius:4px;display:inline-block; border:1px solid #c62800; text-shadow:0px 1px rgba(68, 133, 0, 0.02); 
font-size:14px; line-height:18px; color:#fff; padding:4px 14px; vertical-align:middle; cursor:pointer; outline:none;}
.red_btn:hover{background:#db2d00;}
.red_btn:active{background:#c72900;box-shadow:0 2px 4px rgba(255, 255, 255, 0.15)inset, 0px 1px 2px rgba(0, 0, 0, 0.05);}
.s{padding:1px 10px; margin-top:-1px; }
input.dateinput{padding:3px;width:95px;}




