/*topbar*/
.topbar{background-image:-moz-linear-gradient(to bottom, #fff, #f5f5f5); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f5f5f5)); background-color:#F5F5F5; height:62px;}
.logo{width:155px; height:62px; background:url(../images/logo.png) no-repeat left center; color:transparent; font-size:0px; display:inline-block;}
.account_menu{margin-top:7px;border:1px solid #ccc; border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; padding:4px 14px; background-image:-moz-linear-gradient(to bottom, #fff, #eee);
background-image:-webkit-gradient(linear, 0 0, 0 100%, #fff, #eee); box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); text-shadow:0 1px 1px rgba(255, 255, 255, 0.75); font-size:13px;}
[class^="icon-"], [class*=" icon-"]
{background-image: url(../images/glyphicons-halflings.png);background-position:14px 14px; background-repeat:no-repeat; display:inline-block; height:14px;line-height: 14px; margin-top: 1px;vertical-align:text-top;width: 14px;}
.icon-white{background-image:url(../images/glyphicons-halflings-white.png)}
.icon-account{background-position: -168px 0;}
.icon-remove{background-position:-312px 0;}
.icon-trash{background-position:-456px 0px;}
.icon-refresh{background-position:-240px -24px;}
.icon-chevron-left{background-position:-432px -72px;}
.switchtreeright .icon-chevron-left{background-position:-456px -72px;}
.icon-list {background-position:-360px -48px;}
.icon-Disable{background-position:-25px -97px;}
.icon-Modify{background-position:-360px -145px;}
.icon-previous{background-position:-240px -72px}
.icon-last{background-position:-216px -72px}
.icon-next{background-position:-334px -72px}
.icon-front{background-position:-360px -72px}
.icon-search{background-position:-48px 0px}
.icon-Reset{background-position:-289px -24px}
.icon-Restore{background-position:-216px -24px}
.icon-Logs{background-position:-96px -72px}
.icon-user {background-position: -168px 0;}
.icon-lock {background-position: -287px -24px;}
.icon-Enable {background-position: -72px -97px;}
.icon-log{background-position: -48px -24px;}

/*main_container*/
.main_container{width:1100px; margin:0px auto; position:relative;}
/*side_left*/
.side_left{width:250px; float:left;border:1px solid #e5e5e5;-moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.1); border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px; padding:5px;}
.search_area{text-align:left;}
.search_area input{width:120px; height:18px; line-height:18px; color:#999; border-radius:3px 0 0 3px; display:inline-block; padding:4px 7px;}
.search_area .btn{border-radius:0 3px 3px 0; margin-left:-3px;border-color:rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25); border-left:none; vertical-align:top;height:28px;}
.btn-group{position:relative; vertical-align:middle;white-space:nowrap; font-size:0px; color:transparent; text-align:left; margin:6px 0 0 0;}
.btn-group > .btn:first-child {border-bottom-left-radius:4px; border-top-left-radius:4px; margin-left: 0;}
.btn-group > .dropdown-toggle{border-radius:0px;}
.caret{display:inline-block; border-left:4px solid transparent; border-top:4px solid #000; border-right:4px solid transparent; vertical-align:middle;content: "";}
.dropdown-menu{display:none;}
.btn-group > .disabled{background:#e9e9e9; border-radius:0px;}
.btn-group > .refresh{border-radius:0 3px 3px 0px;padding:5px 14px 6px 14px;}
/*tree*/
.tree_main{width:96%; margin:0px auto;min-height:340px;}
#domain_tree{margin:10px auto; text-align:left;zoom:1; overflow:hidden; }
.tree,.tree ul,.tree li{list-style:none;margin:0;padding:0;zoom: 1;}
.tree ul{margin-left:11px;}
.tree li a{height:16px; line-height:16px; color:#555;padding:0em 7px 0em 20px;display:inline-block;text-decoration:none;background:url(../images/file_approved.png) 0px 0 no-repeat;}
.tree li a.tree-parent{background:url(../images/folder_open.png) 0 0 no-repeat;}
.tree li a.tree-parent-collapsed{background:url(../images/folder_shut.png) 0 0 no-repeat;}
.tree li a:hover,.tree li a.tree-parent:hover,.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active{color:#000;}
.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active{background-color:#e5f4d6; color:#5bb300;}
.tree ul.tree-group-collapsed{display:none;}
.tree li ul li{background:url(../images/d.png) repeat-y -90px 0px;}
.jstree-icon_1{ background:url(../images/d.png) no-repeat -36px 0px; height:18px; width:18px;font-size:0px; display:inline-block;}
.jstree-icon{ background:url(../images/d.png) no-repeat -54px 2px; height:18px; width:18px; display:inline-block;}
/*.li_block .last_li .jstree-icon_1,.li_block .last_li .jstree-icon{background:url(../images/d.png) no-repeat -36px 0; display:inline-block;color:transparent}
.li_block .last_li .jstree-icon_1{vertical-align:bottom;}
.last_li .last_li .jstree-icon{background:url(../images/icon-folder.png) no-repeat 5px 0px;}*/
.last_ul{background:none;}
.ins_block{ background:url(../images/d.png) no-repeat -72px 2px; display:inline-block;}
.tree li.last_li{background:none;}
/*tooltips*/
.ui-slider-tooltip{	background:rgba(0, 0, 0, 0.8); border:1px solid #000;color:#fff;display:block;text-align:left;position:absolute;z-index:99999; border-radius:4px; padding:0px 7px;height:18px;}
.ui-corner-all {-moz-border-radiust:5px;-webkit-border-radius:5px;}
.ui-tooltip-pointer-down {border-bottom-width:0;border-left:5px solid transparent; border-right:5px solid transparent;border-top:6px solid #222;bottom:-6px;
	display: block;	height:0;left:18%;margin-left:-5px;position:absolute; width:0;}
.ui-tooltip-pointer-down-inner {border-left:4px solid transparent; border-right:4px solid transparent;border-top:5px solid #333;left:-4px;top:-7px;position:absolute;}
.tip{font-size:11px;}

/*side_right*/
.side_right{ width:810px; float:right; text-align:left; clear:right;}
.side_right_w{ width:1100px; margin-left:0px; text-align:left; float:none;}
.nav{height:40px; line-height:40px; background-image:-moz-linear-gradient(to bottom, #417f00, #56aa00); background-image:-weikit-gradient(linear, 0 0, 0 100%, from(#417f00) to(#56aa00)); background-color:#417f00;
box-shadow:0px 2px 6px rgba(10 ,10, 10, 0.15); border-radius:6px; position:relative;}
.nav a{display:inline-block; font-weight:500;}
#switchtree > i{margin:12px 0 0 8px;}
.visible-desktop{height:40px;width:30px; background-image:-moz-linear-gradient(to bottom, #56aa00, #417f00); background-image:-weikit-gradient(linear, 0 0, 0 100%, from(#56aa00) to(#417f00)); backgrond-color:#56aa00;
border-radius:6px 0 0 6px; cursor:pointer; position:absolute; top:0px; left:0px;}
.visible-desktop:hover{background:#56aa00;}
.menu{position:relative; left:30px;}
.menu_bar{overflow:hidden; float:left; font-size:14px;}
.menu_bar li{ display:block; float:left; font-weight:bold;}
.menu_bar a{color:#fff; text-shadow:0px 1px 1px rgba(72, 141, 0, 0.3);padding:0px 7px;}
.menu_bar a:hover{color:#f0f0f0; background-color:#397100;}
.current a{color:#fff; background-color:#397100;}
.index-url{width:160px;padding:0px 7px;font-size:20px;color:#fff;font-weight:100;float:left; display:inline-block;  text-align:center;}
.h2_style{display:inline; font-size:34px; color:#555; font-weight:300;}
.h3_style{font-size:15px; color:#555; font-weight:400; height:26px; line-height:26px; text-shadow:0px 1px 1px rgba(255, 255, 255, 0.4); background-image:-moz-linear-gradient(to bottom, #fff, #eee);
background-image:webkit-gradient(linear, 0 0, 0 100%, from(#fff) to(#eee));background-color:#eee; border:1px solid #ebebeb; border-radius:3px 3px 0px 0px; padding-left:7px;}
.pull-left{display:none; float:left; margin:5px 0 0 10px;}
.intro{color:#999;}
/*operation*/
.operation_bar .btn{padding:2px 8px;}
.screen_bar{height:30px;}
.screen_bar .search_area input{padding:2px 7px;}
.screen_bar .search_area .btn{height:24px; line-height:14px;}
.op-group{ text-align:center; position:relative; margin:0px; padding-top:0px;}
.op-group span{margin:0 2px; cursor:pointer}
.op-group .btn,.op-group .gray_btn{padding:0px 5px;}
.dropdown-right{ border-radius:0px 5px 5px 0px; color:transparent;}
.drop_list{background:#fff; box-shadow:0px 1px 3px rgba(60, 60, 60, 0.3); border:1px solid #ddd; border-radius:5px; position:absolute; z-index:9; right:3px;  padding:7px 0px; display:none;}
.drop_list li{ text-align:left; height:20px; line-height:20px; font-size:12px; color:#333; padding:0px 15px}
.drop_list li:hover{background:#555; color:#fff;}
.open .drop_list{display:block}
/*page*/
.page_style{height:18px; line-height:18px;}
.page_style a{background:#fff; box-shadow:1px 0px 1px rgba(30, 30, 30, 0.4);diaplay:inline-block; padding:2px 6px; margin:0px 3px;}
.page_style a:hover,a.page_current{background:#56aa00; color:#fff;}
.page_gray{filter:alpha(opacity=50); /*IE滤镜，透明度50%*/-moz-opacity:0.5; /*Firefox私有，透明度50%*/opacity:0.5;}
.page_style .fr span{cursor:pointer;}
/*table_sytle*/
.table_sytle table{width:100%; border-collapse:collapse; line-height:28px;}
.table_sytle th{width:180px; text-align:left; padding:3px 10px;border-bottom:1px solid #e6e6e6;}
.table_sytle td{ text-align:left; padding:3px 10px; border-bottom:1px solid #e6e6e6;}
.table_style1 {border-radius:0px 0px 5px 5px; box-shadow:0px 1px 3px rgba(40, 40, 40, 0.1)}
.table_style1 table {width:100%; border:1px solid #ebebeb; border-bottom:none;}
.table_style1 td,.table_style1 th{height:28px; line-height:28px; border-bottom:1px solid #e4e4e4; padding:0px 7px; color:#666;text-align:left}
.table_sytle2 table {width:100%; border-collapse:collapse; text-align:center;}
.table_sytle2 td,.table_sytle2 th{height:34px;vertical-align:middle;padding:0 0 0 7px;color:#555;text-align:left;}
.table_sytle2 td{padding:5px 7px 5px 0}
.table_sytle2  th{cursor:pointer; background-color:#f1f1f1}
.table_sytle2 a{ text-decoration:underline}
.table_sytle2 table tr{background:#f6f6f6;}
.table_sytle2 table .tr_odd_style{background:#fff;}

.table_sytle3 table {border-collapse:collapse; text-align:center;}
.table_sytle3 td,.table_sytle3 th{height:34px;vertical-align:middle;padding:0 0 0 7px;color:#555;text-align:left;}
.table_sytle3  th{cursor:pointer; background-color:#f1f1f1}
.table_sytle3 a{ text-decoration:underline}
.table_sytle3 table tr{background:#f6f6f6;}
.table_sytle3 table .tr_odd_style{background:#fff;}

.sorting{background:url(../images/sort_both.png) no-repeat 88px center;}
.sorting_asc{background:url(../images/sort_asc.png) no-repeat 88px center;}
.sorting_desc{background:url(../images/sort_desc.png) no-repeat 88px center;}
.username{display:inline-block; width:300px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-ms-text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.nickName{display:inline-block; width:80px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-ms-text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.adminId,.emailId,.email-length{display:inline-block; width:200px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-ms-text-overflow:ellipsis;-o-text-overflow:ellipsis;}
/*box_style*/
.SwiftSync_box{width:555px; margin:0px auto;}
.box-header{height:44px; line-height:44px; padding:3px 10px;}
.box-header h3{display:inline; font-size:24px; font-weight:bold;}
#batch_operation_title{ text-transform:capitalize}
.box-content{width:96%; margin:15px auto 20px;}
.box-line{padding:7px 10px; position:relative;}
#delete_quota_div .box-line,#delete_single_user_div .box-line,#delete_admin_div .box-line,#delete_domain_div .box-line{overflow:hidden;}
.box-line input,.box-line select{width:220px; height:26px; line-height:26px;}
.box-line textarea{width:220px;}
.box-line label{width:140px; display:inline-block; text-align:right; padding-right:15px;}
.box-line label.error{width:auto; padding-left:160px; color:#f00;}
.error_td label.error{width:auto; padding-left:20px; color:#f00;}
.login_body label.error{color:#f00; display:block}
span.error{color:#f00;padding-right:10px;}
.box-line .line-text{width:430px; height:50px; display:block; float:left; font-size:16px; font-weight:400;}
.box-footer{background:#f5f5f5;padding:14px 15px 15px; border-top:1px solid #ddd; box-shadow:0px 1px 0px #fff inset; text-align:right; border-radius:0 0 7px 7px;}
.close{cursor:pointer; color:#000; display:none}
.q_icon{width:60px; height:50px; background:url(../images/icon-q.png) no-repeat left center; display:block; float:left; vertical-align:middle;}
.q_text{width:220px;line-height:24px;display:inline-block; }
span.q_text:first-letter{text-transform:uppercase;}
.box-line .login_tips{right:-84px;}
/*tabs*/
.tabs_ul ul{border-bottom:1px solid #ddd; }
.tabs_ul li{padding:7px 15px;margin:0px 3px -1px 0px; float:left;color:#4e9900;cursor:pointer;border-radius:4px 4px 0px 0px;border:1px solid transparent; border-bottom:none;}
.tabs_ul li:hover{background:#f6f6f6; color:#4e9900;}
.tabs_ul .selected{ border:1px solid #ddd; border-bottom:none; color:#555; background:#fff;}
/*login*/
body.login{background-color:#EEEEEE;}
.login_container{width:360px; margin:4% auto 0px;box-shadow:1px 2px 8px rgba(50, 50, 50, 0.3),0px 1px 0px #fff inset; border-radius:10px; border:1px solid #ccc; background-color:#fff;}
.login_body{margin:10px auto; width:75%;}
.login_container h1,.reset_container h1{height:40px; float:left}
.login_container h2,.reset_container h2{font-size:26px; font-weight:300; line-height:40px; color:#555;background:#fafafa;border-top:1px solid #eee;
box-shadow:0px 1px 0px #fff inset;margin-bottom:20px;margin-bottom:10px;padding-left:15px;}
.login_container h2 small,.reset_container h2 small{color:#999; font-weight:200; font-size:18px; text-shadow:0px 1px 1px #fff;}
.login_title{ float:left;margin:5px 0 0 15px; height:36px; line-height:36px; color:#555; font-size:26px; font-weight:600;}
.login_title small{color:#999; font-weight:200; font-size:20px;}
.input-prepend {position:relative;}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child{ border-radius:3px; margin-right:-4px; vertical-align:top;}
.input-append .add-on, .input-prepend .add-on {background-color:#EEE; border:1px solid #CCCCCC; display:inline-block;font-size:13px;font-weight:normal;height:18px;line-height:18px; min-width:16px; padding:4px 5px;text-align:center;
    text-shadow: 0 1px 0 #FFFFFF; width: auto;}
.input-prepend input{border-radius:0px 3px 3px 0px; width:212px; height:26px; line-height:26px;}
.reset_container{width:400px; margin:4% auto 0px;box-shadow:1px 2px 8px rgba(50, 50, 50, 0.3),0px 1px 0px #fff inset; border-radius:10px; border:1px solid #ccc; background-color:#fff; color:#666;}
.reset_container .login_body{margin:10px auto; width:94%}
.login_tips{width:210px;position:absolute; right:-200px; top:-25px; z-index:9; background:#fff; box-shadow:0px 1px 0px #fff inset, 0px 1px 6px rgba(30, 30, 30, 0.3); border:1px solid #ccc; border-radius:6px;}
.caret_login{display:inline-block;border-top:8px solid transparent; border-right:8px solid #bbb;-moz-border-right:8px solid #fff; border-bottom:8px solid transparent; position:absolute; left:-8px; top:35px;}
.caret_login_in{display:inline-block;border-top:8px solid transparent; border-right:6px solid #fff; border-bottom:8px solid transparent; position:absolute; left:2px; top:-8px;}
.reset_container input-prepend .add-on:first-child, .reset_container .input-prepend .btn:first-child{margin:0px; padding:2px 7px;}
.login_tips h4{padding:5px 0 5px 15px; text-shadow:0px 1px 1px rgba(255, 255, 255, 0.3); font-size:16px; font-weight:200; color:#444; border-radius:6px 6px 0px 0px; background:#f8f8f8; border-bottom:1px solid #eee;}
.login_tips p{padding:5px 15px;}
.login_body .box-line{padding:7px 0px;}
.login_body .box-line label{width:120px; padding-right:7px;}
.login_body .box-line label.error{padding-left:130px;width:auto;}
#hide-infor{display:none; width:340px; padding:10px; color:#666; margin:10px auto;}
#admin_token_temp,#reset_password_result{ position:absolute; padding:2px 10px;background-color:rgba(0, 0, 0, 1); color:#fff; right:30px; top:0px; display:none;}
.reset_container .box-line{ position:static;}
.second-title{height:28px; line-height:28px; background:#f8f8f8; border-top:1px solid #fff; color:#666; font-size:13px; text-shadow:0px 1px 1px #fff; padding-left:10px;}
/*Adminlog*/
.table_sytle2 td span{display:inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-ms-text-overflow:ellipsis;-o-text-overflow:ellipsis;vertical-align:middle}
/*.Datetime,.ModuleName{width:80px;}*/
.AdminResult{width:50px}
.AdminDetail{width:50px;}
.AdminName,.OperationParam,.AdminFaildesec{width:105px; }
/*.DomainName,.OperationName{width:60px;}*/
.table_sytle2 td span.Datetime{ white-space:normal;}
/*another*/
.hide{display:none;}
.block{display:block;}
.block .hide{display:block;}
.side_left_b{ height:420px;  position:fixed; display:block; background:#fff; margin-top:50px;}
.side_left_b .tree_main{height:340px; overflow-y:auto;}
.vertical-top{ vertical-align:top;}
.tips {width:300px; font-size:18px; background:#fff; border-radius:10px; box-shadow:0px 1px 5px rgba(50, 50, 50, 0.3) }
.tips .p15{padding:20px 15px;}

/*account_list*/
#account_img{width:48px; height:48px; text-align:center; vertical-align:middle; display:table-cell;border:1px solid #096}
.account-list{overflow:hidden; background:#fff;  border:1px solid #e1e1e1;  width:365px; position:relative; margin:5px 0px 0px 155px;}
.account-list ul{padding:0px; margin:0px;}
.account-list li{float:left; width:48px; height:48px; display:table-cell; text-align:center; vertical-align:middle; overflow:hidden; margin:5px 0px 5px 5px; border:1px solid #ddd; cursor:pointer;list-style:none }
.account-list li img{width:48px; height:48px;vertical-align:middle;}
.account-list .current{border:1px solid #5BB300}
.user_log{background:#eaf0f2;}
#user_log_div{padding: 0 10px 0 0;border: 1px solid #ccc;border-left: none;border-right: none}

/*add_media*/
.add_media_table table{width:100%}
.add_media_table td{padding:10px; border-bottom:1px solid #ddd}
.media_list table{width:100%}
.media_list th,.media_list td{padding:7px 10px;}
.media_list th{background:#ddd}
.media_list td{border-bottom:1px solid #ddd}
.add_media_table label.error{padding:0px}
.playUrl,.webUrl{white-space:nowrap; text-overflow:ellipsis; overflow:hidden;  display:block}
.playUrl{width:180px}
.webUrl{width:160px}
.td_num{display:none}
input.icon-down{background-position: -314px -97px; width:14px;height:14px; cursor:pointer}
input.icon-up{background-position: -287px -97px; width:14px; height:14px; cursor:pointer}
.add_box{;width:500px;background:#fff; position:absolute; z-index:999; left:100px; top:100px; border:1px solid #e9e9e9; box-shadow:3px 4px 5px rgba(0,0,0,0.3)}
.media_td{width:90px}
.media_list{max-height:160px;overflow-y:auto}
#alert_msg{padding-right:10px; color:#f00}
#media_name_edit,#media_description_edit{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666}
.media_name{width:260px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;  display:block}

.menu_more{display:none}
.open .menu_more{display:block;background:#fff; position:absolute;width:130px;box-shadow:0px 1px 4px rgba(40,40,40,0.20);border:1px solid #ddd}
.menu_more li{ float:none; height:28px; line-height:28px;border-bottom:1px solid #f0f0f0}
.menu_more a{background:none; color:#397100;text-shadow:none; display:block}
.menu_more a:hover{background:#56AA00}